@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-container {
    @apply m-auto max-w-6xl px-8;
  }

  .loader {
    width: 30px;
    aspect-ratio: 1;
    display: grid;
    border-radius: 50%;
    background:
      linear-gradient(0deg, rgb(0 0 0/50%) 30%, #0000 0 70%, rgb(0 0 0/100%) 0)
        50%/8% 100%,
      linear-gradient(90deg, rgb(0 0 0/25%) 30%, #0000 0 70%, rgb(0 0 0/75%) 0)
        50%/100% 8%;
    background-repeat: no-repeat;
    animation: l23 1s infinite steps(12);
  }
  .loader::before,
  .loader::after {
    content: "";
    grid-area: 1/1;
    border-radius: 50%;
    background: inherit;
    opacity: 0.915;
    transform: rotate(30deg);
  }
  .loader::after {
    opacity: 0.83;
    transform: rotate(60deg);
  }

  .button {
    @apply rounded-md border border-gray-400 bg-white px-4 py-2 outline-none outline-offset-0 transition-all hover:border-transparent hover:outline-primary-500 focus:border-transparent focus:outline-primary-500 disabled:cursor-not-allowed disabled:text-gray-400 disabled:outline-none hover:disabled:border-gray-400;
  }
}

@layer utilities {
  @keyframes l23 {
    100% {
      transform: rotate(1turn);
    }
  }
}

html {
  @apply bg-gradient-to-b from-white to-primary-100 bg-fixed;
}

body {
  @apply min-h-[calc(100vh+500px)] overflow-y-scroll sm:min-h-[calc(100vh+148px)];
}
